################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DataSetChallenge/bin/Debug/netcoreapp2.1
/DataSetChallenge/obj
/DataSetChallenge/bin/Release/netcoreapp2.1
